<% layout('layouts/boilerplate') %> 
    <h1>Edit Concert</h1>
    <form action="/concerts/<%= concert._id %>?_method=put " method="post">
        <div>
            <label for="title">Band name :</label>
            <input type="text" id="title" name="concert[title]" value="<%= concert.title %> ">
        </div>
        <div>
            <label for="location">Concert location :</label>
            <input type="text" id="location" name="concert[location]" value="<%=concert.location%>">
        </div>
        <button>Update Concert</button>
    </form>
    <a href="/concerts/<%= concert._id %> ">Back To Concert</a>
