<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concerts</title>
</head>
<body>
    <h1>All Concerts</h1>
    <p><a href="/concerts/new">Add New Concert</a></p>
    <ul>
        <% for(let concert of concerts){%>
            <li><a href="/concerts/<%= concert._id %> "><%= concert.title %></a> </li>

       <% } %> 
    </ul>
</body>
</html>