<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Concert</title>
</head>
<body>
    <form action="/concerts" method="post">
        <div>
            <label for="title">Band name :</label>
            <input type="text" id="title" name="concert[title]">
        </div>
        <div>
            <label for="location">Concert location :</label>
            <input type="text" id="location" name="concert[location]">
        </div>
        <button>Add Concert</button>
    </form>
    <a href="/concerts">All Concerts</a>
</body>
</html>