<% layout('layouts/boilerplate') %> 
    <form action="/concerts" method="post">
        <div>
            <label for="title">Band name :</label>
            <input type="text" id="title" name="concert[title]">
        </div>
        <div>
            <label for="location">Concert location :</label>
            <input type="text" id="location" name="concert[location]">
        </div>
        <button>Add Concert</button>
    </form>
    <a href="/concerts">All Concerts</a>
